<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hostel World - 归处</title>

    <!-- Bootstrap core CSS -->
    <link href="./plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="./plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="./plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="./css/landing-page.min.css" rel="stylesheet">
    <link href="./css/user.css" rel="stylesheet">
    <link href="./plugins/toastr/toastr.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="btn btn-default" href="/onebox/index">主页</a>
        <a class="btn btn-default" href="/onebox/user">学生</a>
        <a class="btn btn-default" href="/onebox/uuser">教师</a>
        <a class="btn btn-default" href="/onebox/info"><span id="login_or">个人中心</span></a>
        <a href="/onebox/uuser/about"><img class="round_icon" alt="icon" src="./onebox.jpg"><span id="username"></span></a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">One Box - 一個盒子的世界</h1>
          </div>
        </div>
      </div>
    </header>
    
    <!-- Icons Grid -->
    <!-- <section class="features-icons bg-light text-center">
      <div class="container">
        <h2>分发者</h2>     
        <div class="row">
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
                <i class="icon-direction m-auto text-primary"></i>
              </div>
              <h3>上传原始压缩文件</h3>
              <p class="lead mb-0">压缩文件小于100M</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-direction m-auto text-primary"></i>
              </div>
              <h3>众包发布</h3>
              <p class="lead mb-0">系统发布众包任务</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-direction m-auto text-primary"></i>
              </div>
              <h3>工人标注</h3>
              <p class="lead mb-0">等待工人标注</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>验收下载</h3>
              <p class="lead mb-0">下载数据集，评估工人</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <hr>
            <p class="text-muted small mb-4 mb-lg-0">&copy; 一個盒子 - One Box 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="./plugins/jquery/jquery.min.js"></script>
    <script src="./plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="./plugins/toastr/toastr.min.js"></script>
    <!-- <script src="js/right_up_name.js"></script> -->

  </body>

</html>
