<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>One Box - 一個盒子</title>

    <!-- Bootstrap core CSS -->
    <link href="../plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/landing-page.min.css" rel="stylesheet">
    <link href="../css/user.css" rel="stylesheet">
    <link href="../plugins/toastr/toastr.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="btn btn-default" href="/onebox/index">主页</a>
        <a class="btn btn-default" href="/onebox/user">学生</a>
        <a class="btn btn-default" href="/onebox/uuser">教师</a>
        <a class="btn btn-default" href="/onebox/info"><span id="login_or">个人中心</span></a>
        <a href="/onebox/uuser/about"><img class="round_icon" alt="worker" src="../onebox.jpg"><span id="username"></span></a>
      </div>
    </nav>
    
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title text-left">关于我们</h3>
              </div>
              <hr>
            <!-- /.box-header -->
            <div class="box-body text-left">
              <form id="info_form">
                <div class="box-body">
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="about_us">一個盒子是CUHK XX团队开发的用以辅助乡村教学XX项目的应用......</label>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </form>
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      
      <div class="row">
          <div class="col-lg-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title text-left">联系我们</h3>
              </div>
              <hr>
            <!-- /.box-header -->
            <div class="box-body text-left">
              <form id="info_form">
                <div class="box-body">
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-12">
                        <label id="contact_us">邮件联系我们<a href="#">xxxx@cuhk.com</a>......</label>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </form>
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      
      <div class="row">
          <div class="col-lg-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title text-left">使用说明（服务条款）</h3>
              </div>
              <hr>
            <!-- /.box-header -->
            <div class="box-body text-left">
              <form id="info_form">
                <div class="box-body">
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-12">
                        <label id="term_of_use">本网站不会泄漏用户的个人信息，统计信息仅作项目应用及教学分享使用。</label>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </form>
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      
      <div class="row">
          <div class="col-lg-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title text-left">隐私策略</h3>
              </div>
              <hr>
            <!-- /.box-header -->
            <div class="box-body text-left">
              <form id="info_form">
                <div class="box-body">
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-12">
                        <label id="privacy_policy">本网站保护用户个人隐私......</label>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </form>
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>  
      
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <!-- <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul> -->
            <hr>
            <p class="text-muted small mb-4 mb-lg-0">&copy; 一個盒子 - One Box 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
    <script src="../plugins/toastr/toastr.min.js"></script>
    <!-- <script src="js/right_up_name.js"></script>
    <script src="js/worker/workerinfo.js"></script> -->

  </body>

</html>
